In [ ]:
import datetime
import time
import Parser as ps
from Parser import find_result

start_date = datetime.date(2020, 3, 12)
end_date = datetime.date(2021, 10, 5)
delta = datetime.timedelta(days=1)

while start_date <= end_date:
    date_year=str(start_date.year)
    if len(str(start_date.month))<2:
        date_month='0'+str(start_date.month)
    else: date_month=str(start_date.month)
    if len(str(start_date.day))<2:
        date_day='0'+str(start_date.day)
    else: date_day=str(start_date.day)
        
    df=ps.Parser('https://wincuptt.com/schedule/'+date_year+date_month+date_day+'/')
    df1=df.copy()
    if df.empty==False:
        df.date=start_date
        df=ps.find_result(df)
        df=ps.clean_result(df)
        df.to_csv('results.csv', mode='a', header=False)
    else: pass
    
    start_date += delta
    time.sleep(1)

In [4]:
def find_result(df):
    for row in range(len(df)):
        if re.match(r'.:.', df['result'].loc[row])==None:
            df['player_1_set'][row] = None
            df['player_2_set'][row] = None
        else:  
            total_result = re.match(r'.:.', df['result'].loc[row])[0]
            df['player_1_set'][row] = int(total_result[0])
            df['player_2_set'][row] = int(total_result[-1])
    return df

In [6]:
import re
df1=find_result(df1)

In [7]:
df1

,date,time,room,player_1,player_2,result,player_1_set,player_2_set,player_1_winner,player_2_winner,player_1_set_1_pts,player_2_set_1_pts,player_1_set_2_pts,player_2_set_2_pts,player_1_set_3_pts,player_2_set_3_pts,player_1_set_4_pts,player_2_set_4_pts,player_1_set_5_pts,player_2_set_5_pts
0,NaN,08:30,4,Бутков Максим,Бородачев Александр,"0:3(13-15,9-11,7-11)",0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,08:30,5,Сажнев Виталий,Билоус Владислав,"2:3(7-11,11-4,11-9,9-11,10-12)",2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,09:05,4,Грищенко Александр,Бородачев Александр,"0:3(4-11,10-12,3-11)",0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,09:05,5,Хитров Виталий,Пирвели Родион,"3:2(5-11,11-7,9-11,11-8,11-8)",3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,09:40,4,Бутков Максим,Пирвели Родион,"0:3(4-11,5-11,6-11)",0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,NaN,20:15,1,Павлюк Олег,Дяченко Вячеслав,"0:3(3-11,6-11,8-11)",0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,20:15,2,Ёлкин Антон,Черевко Роман,"0:3(4-11,11-6,9-11,15-17)",0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,20:50,1,Зотов Глеб,Ёлкин Антон,":(8-11,7-11,8-11)",None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,20:50,2,Андреев Михаил,Черевко Роман,1:3,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,21:25,1,Андреев Михаил,Дяченко Вячеслав,0:3,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN